body{
    font-family: Bebas Neue , serif ;

}
nav{
    background-color: #e8cb62;
    font-size: 20px;
}
#intro{
    color: #636055;
    font-size: 300px;
}
#sect1{
    margin-top: 10vh;
    text-align: center;
}
#competence{
    text-align: center;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #533f03;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
#about{
    text-align: center;
}