body{
    font-family: Bebas Neue , serif ;
    background-color: transparent;
}
nav{
    background-color: #e8cb62;
    font-size: 20px;
}
.legende{
    color: antiquewhite;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #000000;
}
.titre{
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #000000;
}
#intro{
    color: #959287;
    font-size: 300px;
}
#sect1{
    margin-top: 10vh;
    text-align: center;
}
#formation{
    text-align: center;
}
#competence{
    text-align: center;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #533f03;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
#about{
    text-align: center;
}
#real{
    text-align: center;
}
#contact{
    text-align: center;

}
.barre{
    background-color: #533f03;
}
p{
    text-align: center;
}
#img1{
    background-image: url(../image.jpg);
    background-size: cover;
}
#CV{
    background-color: #e8cb62;
    align-content: center;
}
.images{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card{
    height: auto;
}
#about:target{
    padding-top:60px;
    margin-top:-60px;
}
#formation:target{
    padding-top:60px;
    margin-top:-60px;
}
#competence:target{
    padding-top:60px;
    margin-top:-60px;
}
