body{
    font-family: Bebas Neue , serif ;
    background-image: url("../images/3392075.jpg");
    background-size: cover;
    background-attachment: fixed;
}
nav{
    background-color: #e8cb62;
    font-size: 20px;
}
.legende{
    color: antiquewhite;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #000000;
}
.titre{
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #000000;

}
#intro{
    height: 100vh;
    color: white;
    font-size: 300px;
    margin-top : 25vh;
}
#sect1{
    margin-top: 10vh;
    height: 90vh;
    text-align: center;
}
#formation{
    text-align: center;
}
#experience{
    text-align: center;
}
#competence{
    text-align: center;
}
#about{
    text-align: center;
}
#real{
    text-align: center;
}
#contact{
    text-align: center;

}
.barre{
    background-color: #533f03;
}
p{
    text-align: center;
}
#img1{
    background-image: url(../image.jpg);
    background-size: cover;
}
#CV{
    background-color: #e8cb62;
    align-content: center;
}
.images{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card{
    height: auto;
}
#about:target{
    padding-top:60px;
    margin-top:-60px;
}
#formation:target{
    padding-top:60px;
    margin-top:-60px;
}
#competence:target{
    padding-top:60px;
    margin-top:-60px;
}
#experience:target{
    padding-top:60px;
    margin-top:-60px;
}
FOOTER{
    justify-content: center;
}
